@import url(../../../assets/fonts/Gilroy/stylesheet.css);
.Slider {
  &__slide {
    border-radius: 32px;
    overflow: hidden;
    max-width: 1200px;
    width: 100%;
    height: max-content;
    position: relative;
    display: flex;
    align-items: flex-end;
    > div {
      position: absolute;
      margin: 0 0 50px 45px;
      display: flex;
      flex-direction: column;
      gap: 6px;
      > p:nth-child(1) {
        color: #fff;
        font-family: Gilroy;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      > p:nth-child(2) {
        color: #fff;
        font-family: Gilroy;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
    > img {
      width: 100%;
      //position: absolute;
      z-index: -1;
    }
  }
}


@media (max-width: 768px) {
  .Slider{
    &__slide{
      //border-radius: 15px;
      >div{
        
        gap: 4px;
        >p:nth-child(1){
          font-size: 26px;
        }
        >p:nth-child(2){
          font-size: 15px;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .Slider{
    height: 500px;
  }
  
  .SliderImg {
    width: 100%; 
    height: 500px; 
    object-fit: cover;
    object-position: 0%;
  }
}
