@import url(../../../assets/fonts/Gilroy/stylesheet.css);

.Slider {
  &__slide {
    border-radius: 32px;
    overflow: hidden;
    max-width: 1200px;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: flex-end;
    > div {
      position: absolute;
      margin: 0 0 50px 45px;
      display: flex;
      flex-direction: column;
      gap: 6px;
      > p:nth-child(1) {
        color: #fff;
        font-family: Gilroy;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      > p:nth-child(2) {
        color: #fff;
        font-family: Gilroy;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
    > img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

@media (max-width: 768px) {
  .Slider {
    &__slide {
      > div {
        gap: 4px;
        margin: 0 0 50px 30px;
        > p:nth-child(1) {
          font-size: 26px;
        }
        > p:nth-child(2) {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .Slider {
    height: auto;
  }

  .Slider__slide {
    > img {
      height: 300px;
      object-position: center;
    }
    > div {
      margin: 0 0 50px 30px;
    }
  }
}
