.parent {
    transition: none !important;
    height: 100vh;
    // align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    // top: 1200px;
    width: 1000px;
    margin: auto;

    .porfolio {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // flex-wrap: wrap;
        width: 100%;
    }

    .portfolio_text {
        // perspective: 200px;
        width: 285px;
        overflow: hidden;
        height: 225px;
        position: relative;
        display: flex;
        flex-direction: column;

        .porfolio_link {
            font-family: SF Pro Display;
            font-size: 15px;
            font-weight: 500;
            line-height: 18px;
            width: 234px;
            letter-spacing: 0em;
            text-align: left;
            color: #7153FF;
        }

        .porfolio_big {
            font-family: SF Pro Display;
            font-size: 54px;
            font-weight: 600;
            line-height: 64px;
            letter-spacing: 0em;
            text-align: left;
            color: #FFFFFF;
        }

        .porfolio_smol {
            font-family: SF Pro Display;
            font-size: 17px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: left;
            color: #8A8886;
            // width: 380px;
        }
    }

    .portfolio_image {
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 690px;
        gap: 33px;
        justify-content: center;
        // padding-right: 90px;

        .lol1 {
            &::after {
                content: '02' !important;
            }
        }

        .lol2 {
            &::after {
                content: '03' !important;
            }
        }

        .img_block {
            &::after {
                content: '01';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                display: flex;
                align-items: center;
                color: #8A8886;
                font-family: SF Pro Display;
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            display: flex;
            align-items: center;
            position: relative;
            width: 690px;
            height: 442px;
            overflow: hidden;

            .portfolio_image {
                width: calc(100% - 70px);
                height: unset !important;
                border-radius: 20px;
                position: absolute;
                bottom: 0;
                left: 0;
                margin: auto;
                transform-origin: top center;
                box-shadow: 0px -6px 94px 0px #000;
                // transition: .05s;
            }

            .portfolio_image.c1 {
                z-index: 3;
            }

            .portfolio_image.c2 {
                bottom: 30px;
                z-index: 2;
                transform: scale(.9);
            }

            .portfolio_image.c3 {
                bottom: 60px;
                z-index: 1;
                transform: scale(.8);
            }

            .scroll_block {
                width: 10px;
                height: 360px;
                flex-shrink: 0;
                border-radius: 5px;
                background: #121212;
                position: absolute;
                right: 36px;
                top: 0;
                bottom: 0;
                margin: auto;

                &::after {
                    transition: all 2s;
                    position: absolute;
                    content: '';
                    width: 10px;
                    height: 74px;
                    flex-shrink: 0;
                    border-radius: 5px;
                    // background: #7153FF;
                }
            }
        }



        .portfolio_image_link {
            width: 100%;
            padding-right: 70px;
            display: flex;
            justify-content: center;
            gap: 2rem;
            // padding-top: 70px;
        }


        .portfolio_link_images {
            position: absolute;
            left: 50px;
        }

        .portfolio_link.c1 {
            position: relative;
        }

        .portfolio_link {
            &:hover{
                cursor: url(/src/components/SafariDashboard/cursor.svg), auto;
              }
            font-family: SF Pro Display;
            font-size: 15px;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;
            color: #8A8886;
        }

        .portfolio_link:hover {
            color: #FFFFFF;
        }
    }
}

@media (max-width:1100px) {
    .parent {
        width: 600px;

        .porfolio {
            .portfolio_text {
                width: 225px;

                .porfolio_big {
                    font-size: 26px;
                    font-weight: 600;
                    line-height: normal;
                    padding-top: 6px;
                    padding-bottom: 4px;
                }

                .porfolio_smol {
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 25px;
                }
            }

            .portfolio_image {
                gap: 0;
                position: relative;

                .img_block {
                    width: 370px;
                    height: 240px;

                    img {
                        width: 310px;
                        border-radius: 10.007px;
                        left: unset;
                        right: 36px;
                    }

                    .scroll_block {
                        height: 180px;
                        width: 5px;

                        .scroll_block_inner {
                            width: 5px !important;
                        }

                    }
                }

                .scroll_block {
                    right: 25px;
                }

                .portfolio_image_link {
                    position: absolute;
                    width: max-content;
                    right: 0;
                    bottom: -80px;

                    .portfolio_link_images {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (min-width:700px) {
    .portfolio_image_link.media {
        display: none;
    }
}

@media (max-width:700px) {
    .portfolio_image_link {
        display: none !important;
    }

    .portfolio_image_link.media {
        display: flex !important;
        flex-wrap: wrap;
        order: -1;
        gap: 16px;
        .portfolio_link.c1{
            color: white;
        }
        .portfolio_link {
            color: #8A8886;
            font-family: SF Pro Display;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

    }

    .parent {
        width: 360px;
        .porfolio {
            flex-direction: column-reverse;
            gap: 30px;

            .portfolio_text {
                width: 323px;
            }

            .portfolio_image {
                width: 100%;

                .img_block {
                    width: 360px;

                    &::after {
                        font-size: 7.506px;
                        right: 19px;
                    }

                    img {
                        left: 0;
                        right: unset;
                    }
                    img.c2{
                        bottom: 10px;
                    }
                    img.c3{
                        bottom: 10px;
                    }

                    .scroll_block {
                        right: 35px;

                    }
                }
            }
        }
    }
}
