#myElement{
    // margin-top: 100px;

    padding: 0;
    .imgs_1,.imgs_2,.imgs_3{
        padding: 0;
    }
    .scroll_block_inner{
        position: absolute;
        // content: '';
        width: 10px;
        height: 74px;
        flex-shrink: 0;
        border-radius: 5px;
        background: #7153FF;

    }
}
.imgs{
    padding: 0;
    position: relative;
}
.adaptiveBlock{
    padding: 0;
}
.texts{
    background-color: #020202;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    box-shadow: 0 10px 0 black;
}
.text__1{
    display: block;
    z-index: 3;
}
.text__2{
    z-index: 2;
    display: block;
    // transform: translateY(100%);
}
.text__3{
    z-index: 1;
    display: block;
}