.parent {
    transition: none!important;
    height: 100vh;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    // top: 1200px;
    width: 1000px;
    margin: auto;

    .porfolio {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // flex-wrap: wrap;
        width: 100%;
    }

    .portfolio_text {
        width: 285px;
        // height: 200px;
        display: flex;
        flex-direction: column;

        .porfolio_link {
            font-family: SF Pro Display;
            font-size: 15px;
            font-weight: 500;
            line-height: 18px;
            width: 234px;
            letter-spacing: 0em;
            text-align: left;
            color: #7153FF;
        }

        .porfolio_big {
            font-family: SF Pro Display;
            font-size: 54px;
            font-weight: 600;
            line-height: 64px;
            letter-spacing: 0em;
            text-align: left;
            color: #FFFFFF;
        }

        .porfolio_smol {
            font-family: SF Pro Display;
            font-size: 17px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: left;
            color: #8A8886;
            // width: 380px;
        }
    }

    .portfolio_image {
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 690px;
        gap: 33px;
        justify-content: center;
        // padding-right: 90px;

        .lol1 {
            &::after {
                content: '02'!important;
            }
        }
        .lol2 {
            &::after {
                content: '03'!important;
            }
        }

        .img_block {
            &::after {
                content: '01';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                display: flex;
                align-items: center;
                color: #8A8886;
                font-family: SF Pro Display;
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            display: flex;
            align-items: center;
            position: relative;
            width: 690px;
            height: 442px;
            overflow: hidden;

            .portfolio_image {
                width: calc(100% - 70px);
                height: unset !important;
                border-radius: 20px;
                position: absolute;
                bottom: 0;
                left: 0;
                margin: auto;
                transform-origin: top center;
                box-shadow: 0px -6px 94px 0px #000;
                // transition: .05s;
            }

            .portfolio_image.c1 {
                z-index: 3;
            }

            .portfolio_image.c2 {
                bottom: 30px;
                z-index: 2;
                transform: scale(.9);
            }

            .portfolio_image.c3 {
                bottom: 60px;
                z-index: 1;
                transform: scale(.8);
            }

            .scroll_block {
                width: 10px;
                height: 360px;
                flex-shrink: 0;
                border-radius: 5px;
                background: #121212;
                position: absolute;
                right: 36px;
                top: 0;
                bottom: 0;
                margin: auto;

                &::after {
                    transition: all 2s;
                    position: absolute;
                    content: '';
                    width: 10px;
                    height: 74px;
                    flex-shrink: 0;
                    border-radius: 5px;
                    background: #7153FF;
                }
            }
        }



        .portfolio_image_link {
            width: 100%;
            padding-right: 70px;
            display: flex;
            justify-content: center;
            gap: 2rem;
            // padding-top: 70px;
        }


        .portfolio_link_images {
            position: absolute;
            left: 50px;
        }

        .portfolio_link.c1 {
            position: relative;
        }

        .portfolio_link {
            font-family: SF Pro Display;
            font-size: 15px;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;
            color: #8A8886;
        }

        .portfolio_link:hover {
            color: #FFFFFF;
        }
    }
}

@media (max-width:668px) {
    .portfolio_image_link {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .portfolio_image_link {
        width: 620px;
        display: flex;
        justify-content: center;
        gap: 3rem;
    }
}

@media (max-width:575px) {
    .portfolio_image_link {
        width: 620px;
        display: flex;
        justify-content: center !important;
        gap: 3rem;
    }
}

@media (max-width:515px) {
    .portfolio_image_1 {
        max-width: 500px;
        height: 370px !important;


    }

    .portfolio_image {
        max-width: 100%;
        display: grid;
        justify-content: flex-start;
        // width: 0px!important;
    }

    .portfolio_link {
        font-size: 13px !important;
    }
}

@media (max-width:470px) {
    .portfolio_link {
        font-size: 12px !important;
    }

    .fortfolio_images_0 {
        height: 380px;
    }

}

@media (max-width:455px) {
    .fortfolio_images_0 {
        height: 380px !important;
        width: 460px !important;
    }

    .portfolio_image_2 {
        width: 500px !important;
        height: 255px !important;

    }

    .portfolio_image_link {
        align-items: self-start !important;
        width: 500px !important;

    }

}