.Feedback {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  > div {
    display: flex;
    flex-direction: column;
    gap: 2px;
    > h3 {
      color: #faf7f8;
      font-family: SF Pro Display;
      font-size: 41px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.5px;
    }
    > div {
      display: flex;
      align-items: center;
      gap: 6px;
      > img {
        width: 30px;
        height: 30px;
      }
      > p {
        color: var(--White);
        font-family: Gilroy;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}

@media (max-width: 760px) {
  .Feedback {
    gap: 90px;
    > div {
      > h3 {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 600px) {
  .Feedback {
    flex-direction: column-reverse;
    > div {
      padding: 0 40px;
    }
  }
}
