.Card {
  display: flex;
  //align-items: center;
  justify-content: space-between;
  padding: 25px 0 0 25px;
  overflow: hidden;
  border-radius: 20px;
  background: #121212;
  &__info {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    > h5 {
      color: var(--White);
      font-family: Gilroy;
      font-size: 41px;
      font-style: normal;
      font-weight: 600;
      line-height: 52px;
    }
    > p {
      color: var(--White);
      font-family: SF Pro Display;
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    &_arguments {
      margin-top: 6px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      > div {
        display: flex;
        align-items: center;
        gap: 7px;
        > p {
          color: #8a8886;
          font-family: SF Pro Display;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
    &_btn {
      > a {
        margin-top: 80px;
        width: max-content;
        display: flex;
        justify-self: flex-end;
        padding: 10px 46px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 2px solid var(--purple);

        color: var(--White);
        font-family: SF Pro Display;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        transition: 0.2s ease-in-out;
        &:hover {
          background: var(--purple);
        }
      }
    }
  }
  &__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > div:nth-child(1) {
      display: flex;
      justify-content: flex-end;
      gap: 14px;
      //margin-bottom: 25px;
      padding-right: 25px;
      align-self: flex-end;
    }
    > div:nth-child(2) {
      display: flex;
    }
  }
}

@media (max-width: 1200px) {
  .Card {
    //width: 50%;
    flex-direction: column-reverse;
    padding: 40px 0;
    align-items: center;
    &__right {
      align-items: center;
      gap: 18px;
      > div {
        width: 100%;
        justify-content: center !important;
        padding-right: 0 !important;
        &:nth-child(2) {
          > img {
            width: calc(var(--index) * 20.69);
          }
        }
      }
    }
    &__info {
      justify-content: flex-end;
      padding: 0 25px;
      width: 100%;
      > h5 {
        font-size: 32px;
      }
      > p {
        font-size: 15px;
      }
      &_arguments {
        margin-top: 10px;
        > div {
          > p {
            font-size: 15px;
          }
        }
      }
      &_btn {
        display: flex;
        justify-content: center;
        > a {
          margin-top: 16px;
        }
      }
    }
  }
}

@media (max-width:992px) {
  .Card{
    width: 440px;
    height: 800px;
  }
  .centerImg{
    width: 500px !important;
    height: 290px ;
    overflow: hidden;
    
  }
}
@media (max-width:768px) {
  .Card{
    width: 340px;
    height: 700px;
  }
  .centerImg{
    width: 500px !important;
    height: 290px ;
    overflow: hidden;
    
  }
}
@media (max-width:576px) {
  .Card{
    width: 90vw;
  }
}