// .freeConsultation{
//     width: 100vw;
//     position: fixed;
//     right: 2%;
//     bottom: 2%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     gap: 10px;
//     width: 240px;
//     height: 40px;
//     border-radius: 10px;
//     background: var(--purple);
//     color: white;
//     z-index: 9;
//     button{
//      background: none;
//      border: none;
//      outline: none;
//      color: white;  
//     }
// }
// .beginning{
//     position: relative;
// }
.relative {
    background-color: #020202;
    margin-bottom: 1100px;
    position: relative;
    z-index: 1;
}

.freeConsultation {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    padding: 11px 22.5px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #7153FF;
    background: #7153FF;

    div {
        color: #FFF;
        font-family: SF Pro Display;
        font-size: 15px;
        font-weight: 400;
    }
}

@media(max-height:2500px) {
    .relative {
        background-color: unset !important;
        margin-bottom: unset !important;
        position: unset !important;
        z-index: unset !important;
    }

}