.freeConsultation{
    width: 100vw;
    position: fixed;
    right: 2%;
    bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 240px;
    height: 40px;
    border-radius: 10px;
    background: var(--purple);
    color: white;
    z-index: 9;
    button{
     background: none;
     border: none;
     outline: none;
     color: white;  
    }
}
.beginning{
    position: relative;
}
.relative{
    background-color: #020202;
    margin-bottom: 1500px;
    position: relative;
    z-index:1;
}