.AboutMission {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  > h2 {
    text-align: center;
    margin-bottom: 150px;
    font-size: 41px;
    font-style: normal;
    font-weight: 500;
  }

  .dynamicContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    transform-origin: center center;
    @media screen and (max-width: 1300px) {
      transform: scale(0.9);
    }
    @media screen and (max-width: 1200px) {
      transform: scale(0.8);
    }
    @media screen and (max-width: 1100px) {
      transform: scale(0.7);
    }
    @media screen and (max-width: 1000px) {
      transform: scale(0.6);
    }
    @media screen and (max-width: 760px) {
      transform: scale(0.5);
    }
    @media screen and (max-width: 650px) {
      transform: scale(0.4);
    }
    @media screen and (max-width: 520px) {
      transform: scale(0.3);
    }
    @media screen and (max-width: 440px) {
      transform: scale(0.29);
    }
    @media screen and (max-width: 380px) {
      transform: scale(0.25);
    }
    @media screen and (max-width: 340px) {
      transform: scale(0.23);
    }

    .blockFlex {
      display: flex;
      justify-content: center;
      gap: 30px;

      .top,
      .bottom {
        border-radius: 30px;
        background: #121212;

        img {
          display: block;
          margin: 0 auto;
        }

        .txt,
        .text {
          margin: auto;
          text-align: center;

          h3 {
            font-size: 32px;
            color: #fff;
            text-align: center;
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: 600;
          }

          p {
            margin-top: 10px;
            font-size: 17px;
            color: #8a8886;
            text-align: center;
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: 500;
            line-height: 20.29px;
          }
        }
      }

      .top {
        width: 585px;
        height: 585px;

        img {
          width: 206px;
          height: 231px;
          margin-top: 81px;
          margin-bottom: 100px;
        }
      }

      .bottom {
        width: 380px;
        height: 370px;

        img {
          width: 90px;
          height: 89.93px;
          margin-top: 50px;
          margin-bottom: 20px;
        }

        .text {
          width: 323px;
          height: 165px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
  }
}

.line {
  margin: 120px auto 55px;
  width: 2px;
  height: 300px;
  background-color: white;
  background: linear-gradient(0deg, rgb(255 255 255 / 22%) 32.71%, rgba(0, 0, 0, 0) 88.12%);
}
