._Innovations_1gw8k_30{
    .border{
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        background: radial-gradient(#ffffff7c, #9198e500);
        z-index: 0;
    }
    // .Svg_1_border{
    //     transform: scale(.4);
    //     opacity: 0;
        
    //     padding: 1px;
    //     position: relative;
    //     max-width: min-content;
    //     height: fit-content;
    //     ._block_1gw8k_99 {
    //         position: relative;
    //         z-index: 2;
    //     }
    // }
}