.adaptiveBlock {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 50px);
  max-width: 1000px;
  gap: 50px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 95px;
  justify-content: space-between;

  .text {
    width: 313px;
    height: 380.56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;

    .title {
      color: #FFF;
      font-size: 32px;
      font-weight: 700;
      letter-spacing: -0.16px;
    }

    .descr {
      color: #8A8886;
      font-size: 17px;
      font-weight: 400;
    }
  }

  .imageContainer {
    max-width: 549.02px;
    width: 55%;

    .homeImg {
      width: 100%;
    }
  }

  .icons {
    padding-top: 37px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 15px;
      margin-top: 5px;
      border: none;
      cursor: pointer;
      transition: color 0.5s;
      background-color: black;


      &:hover {
        .iconimage {
          fill: #7153ff;
        }

        .pButton {
          color: #7153ff;
        }
      }

      .pButton {
        margin-top: 5px;
        font-size: 14px;
        color: #8a8886;
      }

    }
  }
}

@media(max-width:900px) {
  .adaptiveBlock {
    width: 100%;
    padding: 0 36px 0 57px;
    gap: 0;

    .imageContainer {
      max-width: 350px;
    }

    .text {
      width: 270px;

      .title {
        color: #FFF;
        text-align: center;
        font-size: 26px;
        font-weight: 700;
      }

      .descr {
        color: #8A8886;
        text-align: center;
        font-size: 15px;
        font-weight: 400;
      }
    }
  }
}

@media(max-width:740px) {
  .adaptiveBlock {
    width: 100%;
    padding: 0 30px;
    gap: 16px;
    justify-content: center;

    .imageContainer {
      max-width: 340px;
      width: 100%;
    }

    .text {
      height: fit-content;
      max-width: 270px;
      width: calc(100% - 30px);

      .title {
        font-size: 26px;
        font-weight: 700;
      }

      .descr {
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
      }
    }
  }
}