:root{
  --green:#2B9F6F;
  --white:white;
  --purple:#7153FF;
  --discount-dark:#020202;
  --discount-light:#7153FF;
  --index: calc(1vw + 1vh);
}
@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/San Francisco Pro Display/SF-Pro-Display-Light.otf') ,
       
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Display';
}
body, html{
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  // overscroll-behavior: none;
}
a{
  text-decoration: none;
}