:root{
  --green:#2B9F6F;
  --white:white;
  --purple:#7153FF;
  --discount-dark:#020202;
  --discount-light:#7153FF;
  --index: calc(1vw + 1vh);
}
@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/San Francisco Pro Display/SF-Pro-Display-Light.otf') ,
       
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Display';
}
body, html{
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  // overscroll-behavior: none;
}
a{
  text-decoration: none;
}

.freeConsultation {
  z-index: 100;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  padding: 11px 22.5px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #7153ff;
  background: #7153ff;

  div {
    color: #fff;
    font-family: SF Pro Display;
    font-size: 16px;
    font-weight: 400;
  }
}