.size-1440{
    max-width: 1440px;
    margin: auto;
    width: 100%;

}
.size-1200{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
@media (max-width:760px) {
.size-1200{
    width: 600px;
}
.size-1440{
    width: 740px;
    margin: auto;
}
}

@media (max-width: 400px) {
  .size-1200{
    width: 340px;
    margin: 0 auto;
  }
}