.banner{
 background: url(./bg-website-min.png.png);   
 height: 934px;
 padding-top: 40px;
 background-repeat: no-repeat;
 background-size: cover;
 .discount_wrap{
    height: 76px;   
 }
}
@media (max-width:1200px) {
   .discount_wrap{
      width: 100%;
   }
}
@media (max-width:760px) {
   .discount_wrap{
      display: none;
   }
}

@media (max-width:600px) {
    .banner {
        height: 730px;
    }
}
@media (max-width:500px) {
    .banner {
        height: 630px;
    }
}
@media (max-width:400px) {
    .banner {
        height: 520px;
    }
}